*{
    font-family: 'Microsoft YaHei', 'Arial', sans-serif;
}

body{
    background: url("../images/user-center-bg01.jpg") fixed  top center no-repeat;
}
/*修改头部样式*/
.navbar-inverse{
    background-color: rgba(3,3,3,0.3)!important;
}
.navbar {
    border-bottom: none !important;
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li.current > a {
    color: #fab707;
    background-color: rgba(3,3,3,0.5) !important;
}

.user-list li{
    background-color: rgba(2,2,2,0.5) !important;
}

/*修改尾部样式*/
footer{
    background-color: rgba(3,3,3,0.3) !important;
    position: fixed;
    bottom: 0;
}
.main-container{
    width: 1200px;
    margin: 0 auto 50px;
    padding: 164px 30px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: space-between;
}
#promptInfo{
    position: absolute;
    display: none;
    top: 100px;
    left: 40%;
    width: 300px;
    font-size: 16px;
}
#promptInfo i{
    font-size: 22px;
}

.left-menu{
    width: 260px;
    background-color: #E6E6E6;
    padding-bottom: 100px;
    border-radius: 5px;
}
.inner-menu{
    padding: 10px 0;
}
.inner-menu h3{
    font-family: 'Microsoft YaHei', 'Arial', sans-serif;
    padding: 0 20px;
}
.inner-menu h3 i{
    margin-right: 10px;
    font-size: 28px;
}
.inner-menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.inner-menu ul li{
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
.inner-menu ul li a{
    display: inline-block;
    width: 260px;
    text-decoration: none;
    color: #333;
}
.inner-menu ul li a:hover{
    color: #fff;
}
.inner-menu ul li:hover a{
    color: #fff;
}
.inner-menu ul li:hover{
    background-color: rgba(86,69,58,0.7);
    color: #fff;
}
.inner-menu ul .chosen{
    background-color: rgba(86,69,58,1) !important;
    color: #fff;
}
.right-content{
    width: 800px;
    background-color: #E6E6E6;
    border-radius: 5px;
    min-height: 500px;
    padding: 20px;
}

.right-content form{
    padding-top: 20px;
}
.right-content form.container{
    width: 900px;
}
.input-group{
    padding-left: 15px !important;
}
/*修改默认提示框样式*/
.right-content form .tooltip-inner{
    background: rgba(86,69,58,1)!important;
    color: #fff;
}
.right-content form .tooltip-arrow{
    border-right-color: rgba(86,69,58,1)!important;
}

#address{
    padding: 0;
}
.option-btn{
    margin-top: 10px;
}

.option-btn #resetBtn{
    margin-right: 20px;
    background-color: rgba(86,69,58,0.7);
    color: #fff;
}
.option-btn #saveBtn{
    background-color: rgba(250,183,7,0.7);
    color: #fff;
}
.option-btn #resetBtn:hover{
    background-color: rgba(86,69,58,1);
}
.option-btn #saveBtn:hover{
    background-color: rgba(250,183,7,1);
}

.warning-info{
    height: 30px;
}

.error-msg{
    color: #D0021B;
}

.success-msg{
    color: #4eaa4c;
}