*{
    font-family: 'Microsoft YaHei', 'Arial', sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #222;
    width: 100%;
    height: 100%;
    margin-top: -65px;
}
canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -99;
 }
.navbar-inverse{
    background-color: #222;
}
.user-list li{
    background-color: #222;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    text-align: center;
    height: 40px;
    font-size: 14px;
    line-height: 30px;
}
footer{
    background-color: #222 !important;
}
.main-container{
    margin: 0 auto;
    border-top: 1px solid transparent;
}


.left-menu{
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 99;
    width: 380px;
    /*border: 1px solid #ddd;*/
    background-color: rgba(9,9,9,0.2);
    height: 610px;
    color: #fff;
    margin-top: -2px;
}
.left-menu ul{
    margin-top: 0;
    padding: 0 10px;
    height: 450px;
    list-style-type: none;
    margin-bottom: 100px;
}
.left-menu h3{
    margin: 0;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    cursor: default;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.left-menu h3 i{
    font-size: 28px;
    margin-right: 10px;
}
.left-menu li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.left-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.left-menu li.selected a{
    color: #fab707;
}

.left-menu li:hover a{
    color: #fab707;
}
.left-menu li a:hover{
    color: #fab707;
}
.left-menu .current{
    /*background-color: rgba(0,0,0,0.5);*/
}
.left-menu .current a{
    color: #fab707;
    font-size: 16px;
}

.resource-content{
    /*border: 1px solid #999;*/
    margin: 80px 0 0 390px;
    /*width: 1200px;*/
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}
.resource-content iframe{
    width: 1200px;
    height: 600px;
}

.intro{
    position: absolute;
    z-index: 99;
    top: 80px;
    right: 20px;
    width: 200px;
    text-align: center;
    border: 2px dotted #fab707;
    border-radius: 5px;
    padding: 0 5px;
}

.intro h3{
    margin: 0;
    padding: 5px 0;
    line-height: 32px;
    font-size: 20px;
    font-weight: lighter;
    color: #ccc;
}
.intro h3 a{
    color: #ccc;
    text-decoration: none;
}

/*修改默认提示框样式*/
/*.tooltip{*/
    /*margin-left: 15px;*/
/*}*/
.tooltip-inner{
    background: rgba(3,3,3,0.9);
    color: #fab707;
    font-size: 14px;
    text-align: left;
    text-indent: 28px;
    padding: 10px;
    margin: 0;
}
.tooltip-arrow{
    border-bottom-color: rgba(3,3,3,0.9) !important;
}