
.navbar-inverse {
    background: rgba(47,47,47,0.7);
    border-bottom: none;
}
/*固定底部*/
footer{
    position:fixed;
    background: rgba(3,3,3,0.5) !important;
    bottom: 0;
}
.register-container{
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background: url("../images/login-bg02.jpg");
}

.register-container>div{
    width: 1200px;
    margin: 100px auto 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-start;
}
.register-container>div img{
    margin-left: -100px;
    width: 700px;
    position: relative;
    z-index: 99;
}


.register-form{
    display: none;
    border: 1px solid #333;
    margin: 90px 0;
    float: right;
    width: 350px;
    padding: 20px 30px 30px 30px;
    background-color: #191919;
    border-radius: 5px;
}
/*修改默认提示框样式*/
.register-form .tooltip-inner{
    background: rgba(250,183,7,0.3);
    color: #ccc;
}
.register-form .tooltip-arrow{
    border-left-color: rgba(250,183,7,0.3)!important;
}

.register-form .title{
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.register-form .alert-danger{
    border: none;
    height: 0;
    visibility: hidden;
    vertical-align: middle;
    padding: 0 0 0 10px;
    font-size: 12px;
    background-color: #f67f7e;
}
#successInfo{
    visibility: hidden;
    margin-bottom: -154px;
    width: 300px;
    font-size: 16px;
}
#successInfo i{
    font-size: 22px;
}
.register-form .alert i{
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-right: 10px;
}

.register-form .input-group{
    margin: 0 auto 10px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-shrink: 1;
    align-items: flex-start;
}
.register-form .fa-times-circle{
    display: none;
    margin-left: -30px;
    color: #ddd;
    line-height: 40px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}


.register-form .input-group span{
    height: 40px;
    width: 50px;
}
.register-form .input-group input{
    height: 40px;
    width: 235px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.register-form i{
    font-size: 24px;
    color: #999;
}
.register-form .btn-block{
    outline: none;
    width: 290px;
    height: 40px;
    background: rgba(250,183,7,0.8);
    color: #fff;
    font-size: 16px;
    margin:30px auto 0;
}
.register-form .btn-block:hover,.register-form .btn-block:focus{
    background: rgba(250,183,7,1);
    color: #fff;

}

.register-form .option{
    width: 290px;
    margin: 10px auto 0;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}
.register-form .option a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}
.option a:hover{
    color:#fab707;
}
