*{
    font-family: 'Microsoft YaHei', 'Arial', sans-serif;
}
body{
    background-color: #222;
    height: 100%;
}
.navbar-inverse{
    background-color: #222;
    border-bottom: 1px solid #111;
}
.user-list li{
    background-color: #222;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    text-align: center;
    height: 40px;
    font-size: 14px;
    line-height: 30px;
}
footer{
    background-color: #222 !important;
    border-top: 1px solid #111 !important;
    z-index: 99;
}
canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: -99;*/
    /*background-color: #333;*/
}

.main-container{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid transparent;
    padding-bottom: 40px;
}

.title{
    padding: 20px 40px;
    background-color: #444;
    color: #ddd;
    /*border: 1px solid #666;*/
}
.column-title{
    margin: 20px 0;
    height: 30px;
    font-weight: bold;
    color: #eee;
    line-height: 30px;
    font-size: 18px;
    padding-left: 20px;
    border-left: 4px solid #fab707;
}

.introduction{
    background-color: #444;
    /*border: 1px solid #666;*/
    padding: 20px;
    font-size: 14px;
    color: #ddd;
    line-height: 24px;
}
.introduction p{
    margin: 10px 0;
    text-indent: 28px;
}

.photos{
    /*border: 1px solid #ddd;*/
    background-color: #444;
}
.ad-controls{
    color: #eee;
    position: relative;
    z-index: 99;
}
.ad-image{
    border: 1px solid #ccc;
}
#gallery {
    padding: 30px;
    width: 100%;
}
#descriptions {
    position: relative;
    height: 50px;
    background: #EEE;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
}
#descriptions .ad-image-description {
    position: absolute;
}
#descriptions .ad-image-description .ad-description-title {
    display: block;
}

.scene{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.left-menu{
    width: 300px;
    height: 650px;
    padding: 0 20px;
    overflow: hidden;
    /*border: 1px solid #ddd;*/
    color: #eee;
    background-color: #444;
}
.left-menu .current{
    color: #fab707;
}
.left-menu h3{
    width: 260px;
    text-align: center;
    color: #eee;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}
.left-menu ul{
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.left-menu li{
    font-size: 18px;
    height: 40px;
    width: 260px;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
}
.left-menu li span{
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}
.left-menu li i{
    color: #fab707;
    font-size: 12px;
    display: table-cell;
    height: 40px;
    width: 20px;
    vertical-align: middle;
    transition:width 1s;
    -webkit-transition:width 1s; /* Safari */
}
.left-menu li:hover{
    color: #fab707;
}
.left-menu li:hover i{
    width: 60px;
}
.right-content{
    width: 800px;
    height: 650px;
    background-color: #444;
    position: relative;
    z-index: 99;
}

#fullScreenBtn{
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    margin-left: 740px;
    margin-top: 10px;
    z-index: 99;
    outline: none;
    border: 1px solid rgba(250,183,7,0.5);
}

#fullScreenBtn i{
    font-size: 36px;
    color: rgba(250,183,7,0.5);
}

#fullScreenBtn:hover{
    border: 3px solid rgba(250,183,7,1);
}
#fullScreenBtn:hover i{
    color: rgba(250,183,7,1);
}